.card {
	height: 16rem;
	width: 12rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	color: white;
	font-size: 1.5rem;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
	background-position: center;
	background-size: cover;
	position: relative;
	margin-right: 1rem;
	&--dstn {
		height: 22rem;
		width: 16rem;
	}
	&__pin {
		position: absolute;
		right: 0;
		top: 1rem;
		stroke: black;
		stroke-width: 0.5;
	}
	&__name {
		filter: none;
		font-weight: bold;
		padding-right: 0.5rem;
		text-decoration: stroke;
	}
	&__country {
		padding-right: 0.5rem;
	}
}
