.header {
	display: flex;
	justify-content: space-between;
	padding: 0 3rem;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
	&__left {
		text-decoration: none;
		display: flex;
		list-style: none;
		align-items: center;
	}
	&__right {
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-decoration: none;
		list-style: none;
	}
	&__item {
		text-decoration: none;
		margin-left: 1rem;
	}
}
.login-btn {
	padding: 0.6rem 1.5rem;
	font-size: 1rem;
}

a, Link {
	text-decoration: none;
	color: black;
}
